* {
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #4a4a4a;
    font-family: Trebuchet MS,Tahoma,Arial,sans-serif;
    font-size: 14px;
    padding-top: 55px;
}

a, a:visited, a:active, .swagger-section .swagger-ui-wrap a {
    text-decoration: none;
    color: #3bb3e4;
}

h1, h2, h3, h4 {
    color: #666!important;
    font-weight: 600!important;
}

h2 a {
    text-decoration: none;
    color: #4a4a4a!important;
}

.info h1 {
	font-size: 1.6em;
	font-family: Droid Sans,sans-serif;
}

.info h3 {
    font-size: 18px!important;
}

.info h4 {
    font-size: 16px!important;
    padding: 10px 0;
}

p {
    line-height: 22px!important;
    font-size: 14px!important;
}

.header {
    height: 55px;
    background-color: #2a2c39;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header__wrap {
    margin: 0 auto;
    min-width: 760px;
    max-width: 1460px;
	padding-left: 20px;
}


.header__logo {
    margin: 20px 0 0 0;
    display: inline-block;
}

.header__title {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 0 10px;
}

.tv-footer {
    margin-top: 50px;
    background-color: #34393f;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: static;
    min-width: 800px;
}

.tv-footer__wrap {
    margin: 0 auto;
    min-width: 760px;
    max-width: 1460px;
	padding-left: 20px;
}

.info>h4 {
	text-align: center;
}

.tv-footer__copyright--copy-text {
    color: #9fa4a9;
}

.info_title, #overview {
    margin-left: -1px;
}

.topbar,
.base-url,
.try-out,
.swagger-ui .info .title small,
.passwordType,
section .clear  a img {
	display: none !important;
}

h4.opblock-tag>span {
	display: none;
}

.swagger-ui .opblock-tag small {
	font-size: 24px !important;
	font-family: Titillium Web,sans-serif !important;
}

.swagger-ui .wrapper {
	width: 65%;
}